<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_32.ico') }}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>Bilboardle</title>
</head>
<body>
    <div class="welcome-page">
        <div class="welcome-logo">picture</div>
        <div class="welcome-title">Hi Bilboardler</div>
        <div class="welcome-subtitle">Ready to test your music knowledge?</div>
        <div class="welcome-button"><a href="{{url_for('game')}}">Play</a></div>
    </div>
    
</body>
</html>